.Articles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
/* Slider container style */
.ArticlesSlider {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    cursor: grab;
    padding: 10px;
    gap: 20px;
    align-items: center;
}

/* Add style for the card items inside the slider */
.ArticlesSlider .ArticleCard {
    flex: 0 0 auto;
    width: 300px; /* Adjust width as needed */
}
